@import '../../common/colors.scss';

.footer{
    background-color: $primary-color;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}